.cardB-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    // align-items: center;
    // flex-wrap: wrap;
    // gap: 20px;
    .cardB-flex {
        display: flex;
        gap: 20px;
    }
}

@media screen and (max-width: 720px) {
    .cardB-flex {
        flex-direction: column;
        min-height: 220px !important;
    }
}