.cardN-big {
    position: relative;
    width: 610px;
    height: 610px;
    // padding-bottom: 60px;
    transition: background-color 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}