.card {
    height: 376px;
    // width: 268px;
    padding: 32px 22px 24px 32px;
    background: #100f12;
    border-radius: 12px;
    .card-title {
        color: #ddffcb;
        margin-top: 37px;
        margin-bottom: 22px;
        font-size: 16px;
        font-weight: 500;
    }
    .card-desc {
        color: #e3e3e3;
        font-size: 14px;
    }
}