/* global.css */
:root {
  --font-inter: 'Inter', sans-serif;
  --font-oxygen: 'Oxygen', sans-serif;
  --font-jakarta: 'Plus_Jakarta_Sans', sans-serif;
}

body {
  font-family: var(--font-inter);
}

.oxygen-text {
  font-family: var(--font-oxygen);
}
.jakarta-text {
  font-family: var(--font-jakarta);
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #070707;
  -webkit-tap-highlight-color: transparent; /* For iOS Safari */
  tap-highlight-color: transparent;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11bd2e; /* Color of the scrollbar handle on hover */
}
.align-center {
  display: flex;
  justify-content: center;
}
