.experiment {
    .left-b, .right-b {
        width: 560px;
    }
}
.video-gap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // flex-wrap: nowrap;
    gap: 54px;

    iframe {
        border-radius: 10px;
    }
}
.v-border {
    border: 1px solid #fff;
    border-radius: 10px;
}
@media screen and (max-width: 720px) {
    .arch {
        img {
            width: 291px !important;
            height: 168px !important;
        }
    }
    .v1 {
        flex-direction: column;
        width: 100% !important;

        iframe {
            width: 100% !important;
            height: 291px !important;
        }
    }
}
@media screen and (min-width: 1220px) and (max-width: 1380px) {
    .arch {
        img {
            width: 600px !important;
            height: 330px !important;
        }
    }
    .v1 {
        // flex-direction: column;
        // width: 100% !important;

        iframe {
            width: 551px !important;
            height: 551px !important;
        }
    }
}
@media screen and (min-width: 820px) and (max-width: 1220px) {
    .arch {
        img {
            width: 600px !important;
            height: 330px !important;
        }
    }
    .v1 {
        // flex-direction: column;
        // width: 100% !important;

        iframe {
            width: 351px !important;
            height: 351px !important;
        }
    }
}

