.TemF {
    padding: 40px 0 40px 0;
    display: flex;
    justify-content: space-between;
    .left {
        width: 50%;
        .left-head {
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 76px;
            span {
                color: #DDFFCB;
            }
        }
        .left-li {
            font-size: 20px;
            margin-bottom: 43px;
            display: flex;
            gap: 30px;
            color: #E3E3E3;
        }
    }
    .right {
        // width: 50%;
    }
    ul {
        font-size: 24px;
        display: flex;
        flex-direction: column;
        column-gap: 30px;
        row-gap: 30px;
        color: #E3E3E3;
    }
    .lefts-head {
        font-size: 32px;
        font-weight: 500;
        color: #DDFFCB;
    }
}

@media screen and (max-width: 720px) {
    .TemF {
        padding: 0 !important;
        flex-direction: column !important;

        .left, .right {
            width: 100% !important;
        }
        .left {
            .left-head {
                font-size: 32px !important;
            }
            .left-li {
                font-size: 16px !important;
            }
            .lefts-head {
                font-size: 24px !important;
            }
            li {
                font-size: 16px !important;
            }
        }
        .right {
            text-align: center;
            img {
                width: 400px;
                height: 400px;
            }
        }
    }
    .temp-default {
        .miner {
            font-size: 16px !important;
        }
    }
}