.mark {
    // height: 100px;
    padding: 20px 0;
    background: green;
    .gpt {
        height: 180px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
    }

    h1 {
        text-transform: capitalize;
        font-size: 140px;
    }
}